$white-color: #ffffff;
$black-color: #000000;
$text-color: #333333;
$active-color: #bb9c66;
$bg-color: #1c242a;

$fontfamily: "Ptsans";
$retina-dpi: 144dpi;
$retina-dppx: 1.5dppx;

$minwidth: 320px;
$mw: 980;
$md1: $mw + 15;
$md2: 991.98;
$md3: 767.98;
$md4: 479.98;
