.main-header {
  position: relative;

  &__top {
    background-color: $bg-color;

    & .container {
      display: flex;
      align-items: center;
      min-height: 75px;
      position: relative;
    }
  }

  &__col {
    &:first-child {
      @media (max-width: $md3+px) {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translateX(-50%) translateY(-50%);
        z-index: 3;
      }
    }

    &:nth-child(2) {
      flex: 1 1 auto;
      padding-left: 30px/980px*100%;
    }

    &:last-child {
      display: flex;
      align-items: center;
    }
  }

  &__burger {
    display: none;
  }

  &__link-region {
    padding-left: 30px;
    position: relative;
    color: $white-color;
    font-family: "Pfdin", "Arial", sans-serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 21px;
    text-transform: uppercase;
    letter-spacing: 1.4px;
    text-decoration: none;

    &:hover,
    &:focus {
      color: $active-color;
      transition: all 0.3s ease 0s;
      outline: none;
    }

    &::before {
      position: absolute;
      content: "";
      width: 18px;
      height: 18px;
      top: 50%;
      left: 0;
      transform: translateY(-50%);
      background-image: url("../../img/icon-lang.png");
      background-position: 0 0;
      background-repeat: no-repeat;
      z-index: 1;
    }

    @media (max-width: 890px) {
      & span {
        display: none;
      }
    }

    @media (max-width: 380px) {

    }
  }

  &__bottom {
    padding-top: 30px;
    padding-bottom: 100px;
    background-image: url("../../img/header-bg.png");
    background-position: 0 0;
    background-repeat: no-repeat;

    & .container {
      display: flex;
      flex-direction: column;
      align-items: center;
    }
  }

  &__lead {
    margin-bottom: 30px;
    font-family: "Ceremoniousone", serif;
    font-size: 40px;
    color: $active-color;
  }

  &__title {
    margin-bottom: 25px;
    font-family: "Pfdin", sans-serif;
    font-size: 35px;
    line-height: 35px;
    font-weight: 400;
    color: $white-color;
    letter-spacing: 5.25px;
    text-transform: uppercase;
  }

  &__text {
    margin-bottom: 55px;
    max-width: 700px;
    color: $white-color;
    text-align: center;
    font-weight: 400;
  }

  &__link {
    width: 250px;
    min-height: 50px;
    border: 3px solid rgb(187, 156, 102);
    line-height: 21px;
    padding-top: 10px;
    color: $white-color;
    text-decoration: none;
    font-weight: 400;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 1.5px;

    &:hover,
    &:focus {
      color: $active-color;
      transition: all 0.3s ease 0s;
      outline: none;
      border: 3px solid $white-color;
    }
  }

  &__icon {
    width: 78px;
    height: 78px;
    background-color: $white-color;
    transform: translateX(-50%) translateY(39px) rotate(45deg);
    position: absolute;
    left: 50%;
    bottom: 0;

    &::before {
      position: absolute;
      content: "";
      width: 77px;
      height: 26px;
      top: 50%;
      left: 50%;
      transform: translateX(-50%) translateY(-50%) rotate(-45deg);
      background-image: url("../../img/icon-header.png");
      background-repeat: no-repeat;
    }
  }
}

@media (max-width: $md3+px) {
  .main-header {
    &__burger {
      display: block;
      width: 30px;
      height: 20px;
      z-index: 3;
      background-color: transparent;
      position: absolute;
      top: 27px;
      left: 15px;
      border: none;
      padding: 0;
      cursor: pointer;

      & span {
        background-color: #ffffff;
        position: absolute;
        left: 0;
        width: 100%;
        height: 2px;
        top: 9px;
        transition: all 0.3s ease 0s;
      }

      &::before,
      &::after {
        content: "";
        background-color: #ffffff;
        position: absolute;
        width: 100%;
        height: 2px;
        left: 0;
        transition: all 0.3s ease 0s;
      }

      &::before {
        top: 0;
      }

      &::after {
        bottom: 0;
      }

      &.active span {
        transform: scale(0);
      }

      &.active::before {
        transform: rotate(45deg);
        top: 9px;
      }

      &.active::after {
        transform: rotate(-45deg);
        bottom: 9px;
      }
    }
  }
}
